# put this file in /storage/.config/system.d/nginx.service

[Unit]
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/storage/.config/minidsp/nginx/nginx.pid
ExecStart=/storage/.config/minidsp/nginx/nginx -c /storage/.config/minidsp/nginx/nginx.conf
ExecReload=/storage/.config/minidsp/nginx/nginx -s reload -c /storage/.config/minidsp/nginx/nginx.conf
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
