# put this file in INSTALL_DIRECTORY/system.d/nginx.service

[Unit]
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=INSTALL_DIRECTORY/minidsp/nginx/nginx.pid
ExecStart=INSTALL_DIRECTORY/minidsp/nginx/nginx -c INSTALL_DIRECTORY/minidsp/nginx/nginx.conf
ExecReload=INSTALL_DIRECTORY/minidsp/nginx/nginx -s reload -c INSTALL_DIRECTORY/minidsp/nginx/nginx.conf
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
