# put this file in /lib/systemd/system/minidsp-ui.service
# download minidsp-ui.tar.gz from releases, and extract into /usr/bin/minidsp-ui
# `sudo systemctl enable minidsp-ui`

[Unit]
After=syslog.target
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
Type=simple
Environment="COMPARE_STRING=STRING_TO_USE_IF_PRIVATE_KEY_IS_LOST"
Environment="USE_RELAY=1"
Environment="RELAY_PIN=21"
Environment="DOMAIN=HOSTNAME"
Environment="DB_PATH=/home/minidsp/db/minidsp"
Environment="SSL_PATH=/home/minidsp/ssl"
Environment=ROCKET_DATABASES='{minidsp={url="/home/minidsp/db/minidsp/minidsp.sqlite"}}'
ExecStart=node /usr/bin/minidsp-ui/index.ts
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=minidsp-ui
User=minidsp
SupplementaryGroups=gpio minidspgroup
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
